<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cerate</title>
    <link rel='stylesheet' type='text/css' href={{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.min.css') }} />
</head>
<body>
    <button onclick="redirect_list()">return</button>

    <p id="favorite">true</p>
    <p id="category">category</p>
    <p id="title">title</p>
    <p id="content">content</p>
    <p id="last_edit">last_edit</p>
    <p id="created_time">created_time</p>
    <!-- edit button -->
    <button onclick="create()">create</button>

    <script>
        function redirect_list(){
            window.location.href='/list';
        }
        function create(){
            title = document.getElementById("title").innerHTML;
            category = document.getElementById("category").innerHTML;
            favorite = document.getElementById("favorite").innerHTML;
            content = document.getElementById("content").innerHTML;
            new_memo(title, category, favorite, content);
        }
    </script>
    <script src={{ url_for('static', filename='memo.js') }}></script>
</body>
</html>