<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<body>
    {% for memo in memo_list %}
    <div>
        <div>
            <p>{{memo["meta"]["category"]}}</p>
            <p>{{memo["meta"]["title"]}}</p>
            <p>{{memo["meta"]["created_time"]}}</p>
            <p>{{memo["meta"]["favorite"]}}</p>
        </div>
        <div>
            <p>{{memo["content"]}}</p>
        </div>
        <!-- view button -->
        <button onclick="redirect_viewer({{memo['id']}})">view</button>
        <!-- delete button -->
        <button onclick="delete_memo({{memo['id']}})">delete</button>
    </div>
    {% endfor %}
    <!-- create memo button -->
    <button onclick="redirect_create()">create</button>
    <script>
        function redirect_viewer(id){
            window.location.href='/viewer?id='+id;
        }
        function redirect_create(){
            window.location.href='/create';
        }
    </script>
</body>
</html>

{% block javascript %}
    <script type="text/javascript">
        {% include "memo.js" %}
    </script>
    <!-- The contents of myscript.js will be loaded inside the script tag -->
{% endblock %}