<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>memo list</title>
</head>
<body>
    <table>
        <tr>
            <td>id</td>
            <td>title</td>
            <td>writer</td>
        </tr>
        {% for memo in memo_list %}
        <tr>
            <td>{{ memo["id"] }}</td>
            <td>{{ memo["title"] }}</td>
            <td>{{ memo["writer"] }}</td>
            <td>
                <form action="/memo_view" method="get">
                    <input type="hidden" name="id" value={{ memo["id"] }} /> 
                    <button type="submit">view</button>
                </form>
            </td>
            <td>
                <form action="/delete_memo" method="get">
                    <input type="hidden" name="id" value={{ memo["id"] }} /> 
                    <button type="submit">delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button onclick="location.href='/create_memo'">new memo</button>
</body>
</html>