<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>viewer</title>
    <link rel='stylesheet' type='text/css'
        href={{ url_for('static', filename='bootstrap-4.5.0-dist/css/bootstrap.min.css') }} />
</head>

<body>
    <button type="button" class="btn btn-light" onclick="redirect_list()">return</button>

    <small>id: </small><small class="text-muted" id="id">{{memo["id"]}}</small>
    <form>
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" class="form-control" id="title" placeholder="title" value={{memo["meta"]["title"]}}>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="favorite" value="favorite"> {{memo["meta"]["favorite"]}}
            <label class="form-check-label" for="favorite">1</label>
        </div>
        <div class="form-group">
            <label for="category">category</label>
            <select class="form-control" id="category">
                <option value="first">{{memo["meta"]["category"]}}</option>
                <option value="second">1</option>
                <option value="third">2</option>
            </select>
        </div>
        <div class="form-group">
            <label for="content">Content textarea</label>
            <textarea class="form-control" id="content" rows="10">{{memo["content"]}}</textarea>
        </div>
    </form>

    <!-- <p id="favorite">{{memo["meta"]["favorite"]}}</p> -->
    <!-- <p id="category">{{memo["meta"]["category"]}}</p> -->
    <!-- <p id="title">{{memo["meta"]["title"]}}</p> -->
    <!-- <p id="content">{{memo["content"]}}</p> -->
    <small>last edit time: </small><small class="text-muted" id="last_edit">{{memo["meta"]["created_time"]}}</small>
    <small>created time: </small><small class="text-muted" id="created_time">{{memo["meta"]["created_time"]}}</small>
    <!-- edit button -->
    <button type="button" class="btn btn-light" onclick="edit()">edit</button>
    <!-- delete button -->
    <button type="button" class="btn btn-danger" onclick="delete_()">delete</button>

    <script>
        function redirect_list() {
            window.location.href = '/list';
        }
        function edit() {
            id = document.getElementById("id").innerHTML;
            title = document.getElementById("title").value;
            var e = document.getElementById("category");
            category = e.options[e.selectedIndex].value;
            favorite = document.getElementById("favorite").checked;
            content = document.getElementById("content").value;
            last_edit = document.getElementById("last_edit").innerHTML;
            created_time = document.getElementById("created_time").innerHTML;
            edit_memo(id, title, category, favorite, last_edit, created_time, content);
        }
        function delete_() {
            id = document.getElementById("id").innerHTML;
            delete_memo(id);
        }
    </script>
    <script src={{ url_for('static', filename='memo.js') }}></script>
</body>

</html>